@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.cover {
  background-color: rgba(0, 0, 255, 0.5);
  max-width: 50%;
  padding: 2rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

h1 {
  font-size: 4rem;
  margin: 2rem;
  text-align: center;
}

#recent-section {
  min-width: 20rem;
}

.recent-scores {
  margin: 1rem 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.recent-scores h2 {
  font-size: 2rem;
}

.recent-scores .refresh {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #eeeded;
  font-weight: 600;
  font-size: 1rem;
}

.recent-scores .refresh:hover {
  background-color: blue;
  cursor: pointer;
  color: white;
}

.scores {
  background-color: #f0de36;
  color: #000;
  border-radius: 8px;
}

.scores .scores-items {
  list-style: none;
}

.scores .scores-items .score-item {
  padding: 0.5rem 1rem;
}

.header {
  margin: 1rem 0;
}

.header h2 {
  font-size: 2rem;
}

.input-fields {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.input-fields input {
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 8px;
}

.input-fields button {
  margin-top: 1rem;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  padding: 0.2rem 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #eeeded;
  font-weight: 600;
  font-size: 1rem;
}

.input-fields button:hover {
  background-color: blue;
  cursor: pointer;
  color: white;
}
