$gray: #eee;
$error: red;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.gray {
  background-color: $gray;
}

.container {
  margin: 0 3rem;
  justify-content: space-around;
}

.hide {
  display: none;
}

.error {
  color: $error;
}

.show {
  display: block;
}